/****************************************
*************Global Config***************
****************************************/

//Font stack
$font-family--primary: "Fraunces", serif;
$font-family--secondary: "Barlow", sans-serif;

//Colors
$lotion: #fefcf7;
$charcoal: #333d4b;
$seaweed: #0e8784;
$gunmetal: #2c343e;
$silver: #83888f;
$peach: #fdd6ba;
$sea: #66d2cf;
$gainsboro: #e2dedb;
$isabelline: #f4f1eb;

$primary: $lotion;
$text: $charcoal;
$bg-green: $seaweed;
$bg-black: $gunmetal;
$grey: $silver;
$btn-hover: $sea;
$btn-disabled: $gainsboro;
$selection: $isabelline;
$selection-hover: $peach;

//Text
$font-base--size: 1rem;
$text-line-height: 1.625rem;

html {
  font-family: $font-family--secondary;
  font-size: $font-base--size;
  line-height: $text-line-height;
  padding-left: 24px;
  padding-right: 24px;

  .create-plan {
    background-color: $bg-green;
    border-radius: 8px;
    font-family: $font-family--primary;
    font-size: 1.125rem;
    text-align: center;
    text-decoration: none;
    color: $primary;
    padding: 15px 25px;
    margin: 0 50px 100px 50px;
  }
}
