//-----------------------------------------
//------------Global config----------------
//-----------------------------------------

//Font stack
$font-family--primary: "Fraunces", serif;
$font-family--secondary: "Barlow", sans-serif;

//Descriptive base colors
$text-primary: #fefcf7;
$text-secondary: #333d4b;
$black: #000;
$bg-green: #0e8784;
$bg-black: #2c343e;
$grey: #83888f;
$apricot: #fdd6ba;
