/****************************************
*************Global Config***************
****************************************/

//Font stack
$font-family-primary: "Fraunces", serif;
$font-family-secondary: "Barlow", sans-serif;

//Colors
$lotion: #fefcf7;
$charcoal: #333d4b;
$seaweed: #0e8784;
$gunmetal: #2c343e;
$silver: #83888f;
$peach: #fdd6ba;
$sea: #66d2cf;
$gainsboro: #e2dedb;
$isabelline: #f4f1eb;

$primary: $lotion;
$text: $charcoal;
$bg-primary: $seaweed;
$bg-secondary: $gunmetal;
$grey: $silver;
$btn-hover: $sea;
$btn-disabled: $gainsboro;
$selection: $isabelline;
$selection-hover: $peach;

//Text
$font-base-size: 1rem;
$text-line-height: 1.625rem;

//Mixins
@mixin createPlan {
  background-color: $bg-primary;
  border-radius: 8px;
  font-family: $font-family-primary;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  color: $primary;
  padding: 15px 25px;
  &:hover {
    background-color: $btn-hover;
  }
}

@mixin margin {
  margin-bottom: 120px;
}

@mixin header {
  background-size: cover;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 24px;

  @media (min-width: 768px) {
    align-items: flex-start;
    padding-left: 58px;
  }
}

@mixin steps {
  @media (min-width: 768px) {
    display: flex;
  }

  .steps {
    margin-bottom: 56px;
    @media (min-width: 768px) {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
    .steps-number {
      font-family: $font-family-primary;
      font-size: 4.5rem;
      line-height: 4.5rem;
      color: $selection-hover;
      margin-bottom: 24px;

      @media (min-width: 768px) {
        margin-bottom: 50px;
      }
    }

    .steps-title {
      margin: 0 0 24px 0;
      color: $text;
    }

    .steps-text {
      color: $text;
    }
  }
}

//General styling
html {
  font-family: $font-family-secondary;
  font-size: $font-base-size;
  line-height: $text-line-height;
  padding: 0 24px;

  @media (min-width: 768px) {
    padding: 0 80px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-primary;
  color: $primary;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;

  @media (min-width: 768px) {
    font-size: 3rem;
    line-height: 3rem;
  }

  @media (min-width: 1024px) {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

h2 {
  font-size: 1.75rem;
  line-height: 1.75rem;

  @media (min-width: 768px) {
    font-size: 2rem;
    line-height: 3rem;
  }

  @media (min-width: 1024px) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

h3 {
  font-size: 1.75rem;
  line-height: 2rem;

  @media (min-width: 1024px) {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

p {
  margin: 0;
}
