/****************************************
****************Navbar*******************
****************************************/
.navbar {
  padding: 32px 0 40px 0;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    max-height: 18px;
  }

  .navbar-toggle {
    position: absolute;
    height: 15px;
    right: 24px;
    cursor: pointer;
    @media (min-width: 768px) {
      display: none;
    }
  }

  .main-nav {
    list-style-type: none;
    text-align: center;
    display: none;
    padding: 0;
    margin: 0;
    &.active {
      display: block;
      background: linear-gradient(360deg, rgba(254, 252, 247, 0.504981) 0%, #ffffff 55.94%);
      position: absolute;
      width: 100%;
      min-height: 600px;
      left: 0;
    }
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
    }

    li {
      margin-top: 30px;

      @media (min-width: 768px) {
        margin-top: 0;
      }

      .nav-links {
        text-decoration: none;
        font-family: $font-family-primary;
        color: $text;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 2rem;
        &:hover {
          color: $text;
        }
        @media (min-width: 768px) {
          padding-left: 30px;
          font-family: $font-family-secondary;
          line-height: $text-line-height;
          color: $grey;
          font-size: 0.75rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}
