/****************************************
**************Collection*****************
****************************************/
.home-page {
  .coffee-collection {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-family: $font-family--primary;
      text-align: center;
      color: $grey;
      font-size: 2rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(131, 136, 143, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 13px;
      line-height: 4.5rem;

      @media (min-width: 768px) {
        font-size: 5rem;
        opacity: 0.5;
        margin: 0;
      }

      @media (min-width: 1024px) {
        font-size: 7rem;
        line-height: 6rem;
      }
    }

    .coffee-collection-container {
      @media (min-width: 1024px) {
        display: flex;
      }

      .coffee-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 768px) {
          flex-direction: row;
          margin: 0 98px;
          max-width: 700px;
        }

        @media (min-width: 1024px) {
          flex-direction: column;
          margin: 0 20px;
        }

        .coffee-packet-container {
          .coffee-packet {
            max-height: 150px;
            margin-bottom: 24px;
          }
        }
        .coffee-description-container {
          text-align: center;
          color: $text;

          @media (min-width: 768px) {
            text-align: left;
          }

          @media (min-width: 1024px) {
            text-align: center;
          }

          .coffee-title {
            margin: 0 0 16px 0;
            font-family: $font-family--primary;
          }

          .coffee-description {
            margin-bottom: 48px;
          }
        }
      }
    }
  }
}
