/****************************************
****************Header*******************
****************************************/

.home-page {
  .header {
    background-image: url("../../assets/home/mobile/image-hero-coffeepress.jpg");
    background-size: cover;
    min-height: 500px;
  }
}
