/****************************************
**************How it works***************
****************************************/
.home-page {
  .how-container {
    text-align: center;
    @include margin;

    @media (min-width: 768px) {
      text-align: left;
    }

    @media (min-width: 1024px) {
      padding: 0 80px;
      max-width: 1500px;
    }

    .how-title {
      color: $grey;
      margin-bottom: 80px;

      @media (min-width: 768px) {
        margin-bottom: 30px;
      }
    }

    .lines {
      @media (min-width: 768px) {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
      }

      .dot {
        @media (min-width: 768px) {
          height: 30px;
          width: 30px;
          border: 2px solid $bg-primary;
          border-radius: 50%;
        }
      }

      .line {
        @media (min-width: 768px) {
          height: 1px;
          background: $selection-hover;
          min-width: 250px;
        }
      }
    }

    .steps-container {
      @include steps;
      .steps {
        .steps-title {
          @media (min-width: 768px) {
            height: 72px;
          }
        }
      }
    }

    .create-plan {
      @include createPlan;
    }
  }
}
