/****************************************
****************Why Us*******************
****************************************/
.home-page {
  .why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $bg-black;
    border-radius: 8px;
    margin-top: 80px;

    .why-main {
      h2 {
        font-family: $font-family--primary;
        font-size: 1.75rem;
        color: $primary;
        padding: 62px 0 24px 0;
      }

      p {
        padding: 0 24px 660px 24px;
        color: $primary;
        opacity: 0.8;

        @media (min-width: 768px) {
          padding: 0 80px 360px 80px;
        }

        @media (min-width: 1024px) {
          max-width: 600px;
          padding: 0 80px 300px 80px;
        }
      }
    }
  }

  .why-reason-container {
    margin-top: -600px;
    text-align: center;

    @media (min-width: 768px) {
      margin-top: -300px;
    }

    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
      margin-top: -250px;
    }

    .why-reason {
      background-color: $bg-green;
      border-radius: 8px;
      margin: 0 20px 24px 20px;
      padding: 70px 24px;
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
        padding: 40px 70px;
      }

      @media (min-width: 1024px) {
        flex-direction: column;
        align-items: center;
        padding: 40px;
        max-width: 400px;
      }

      .why-image-container {
        align-items: center;

        @media (min-width: 768px) {
          display: flex;
        }

        .why-reason-img {
          height: 72px;
        }
      }

      .why-description-container {
        color: $primary;

        @media (min-width: 768px) {
          padding: 0 50px;
          text-align: left;
        }

        @media (min-width: 1024px) {
          padding: 50px 15px 0 15px;
          text-align: center;
        }

        .why-reason-title {
          font-family: $font-family--primary;
          font-size: 1.5rem;
          margin: 56px 0 24px 0;

          @media (min-width: 768px) {
            margin: 0 0 24px 0;
          }
        }
      }
    }
  }
}
